# Compiled Object files
*.slo
*.lo
*.o
*.cpp~

# Precompiled Headers
*.gch
*.pch
*.h~

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.txt~
*.mtl~
*.md~
*makefile~
*.cmake~
build/
